#bucket
{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 400px;
    gap: 20px;
}

#bucket>div{
    border: 1px solid black;
}

#bucket>div>img
{
    width: 100%;
    height: 70%;
}


#confirm_checkout
{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


#total_amount
{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: right;
}